/* Início Geral */
body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

.flex { display: flex; }

a { text-decoration: none; }
/* Fim Geral */
/* Início Header */
header{ text-align: right; }

header a { color: rgb(27, 102, 168); }
    
header a:hover{ color: rgb(7, 60, 105); }
/* Fim Header */ 
/* Início Menu */ 
.menuLateral {
    width: 230px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    position: fixed;
    left: 0px;
    transition: width 0.3s ease;
}

.menuLateral ul {
    list-style: none;
    border-top: 1px solid #666;
    padding: 10px 0px;

}

.menuLateral a li {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menuLateral.colapsar {
    width: 60px;
    text-align: center;
}

.menuLateral span{ margin-left: 10px;}

span.none{
    display: none;
    transition: display 0.5s ease;
}

.btnToggle {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.btnToggle span{ font-size: 16px;}
/* Fim Menu*/
/* Inicio Conteúdo */
main {
    margin-left: 250px;
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

main.expandir { margin-left: 60px; }
/* Fim Conteúdo */
/* Início Usuário*/
form {
    width: 60%;
    min-width: 450px;
    text-align: right;
}

form label {
    display: inline-block;
    width: calc(20% - 30px);
    text-align: left;
    margin: 10px;
}

form label.erro{
    width: calc(100% - 20px);
    padding: 10px;
    background-color: rgb(255, 190, 190);
    color: rgb(86, 2, 2);
    text-align: center;
}

form label.sucesso{
    width: calc(100% - 20px);
    padding: 10px;
    background-color: rgb(190, 255, 212);
    color: rgb(2, 86, 41);
    text-align: center;
}

form input {
    width: calc(80% - 22px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

form button:hover { background-color: #247126; }
/* Fim Usuário*/
/* Início Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: rgb(27, 102, 168);
    color: white;
}

table tr td:last-child{
    width: 90px;
    text-align: center;
}

table th:last-child{text-align: center; }

table tr:nth-child(even) {background-color: #eee; }

table td a{ color: rgb(27, 102, 168); }

table td a:hover{ color: rgb(7, 60, 105); }

table td a:last-child{
    color: rgb(186, 36, 36);
    margin-left: 10px;
}
table td a:last-child:hover{ color: rgb(133, 11, 11); }

#orcamentos table tr th:last-child{ min-width: 200px;}
/* Fim Tabela*/